<div class="container mt-5">

  <div class="form-group mb-5">
    <label for="pesquisa" class="control-label">Pesquisa</label>
    <input type="text"  class="form-control" id="pesquisa" placeholder="Faça sua busca" name="pesquisa" [(ngModel)]="pesquisa">
  </div>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Sexo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filter:pesquisa">
        <td>{{ user.nome }}</td>
        <td>{{ user.dataNasc }}</td>
        <td [hidden]="user.sexo == 'Feminino'">
          <fa-icon [icon]="faMars"></fa-icon>
        </td>
        <td [hidden]="user.sexo == 'Masculino'">
          <fa-icon [icon]="faVenus"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-secondary" (click)="showHideForm()">Adicionar!</button>
</div>



<form class="container mt-5" #f="ngForm" [style.display]="isForm ? 'block': 'none'">

  <div class="form-group">
    <label for="nome" class="control-label">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" ngModel #nome="ngModel" required>
  </div>

  <div class="row form-group">
    
    <div class="col-md-6">
      <label for="datNasc" class="control-label">Data de Nascimento</label>
      <input type="date" class="form-control" id="datNasc" placeholder="Data de Nascimento"  name="datNasc" ngModel #datNasc="ngModel" required>
    </div>

    <div class="col-md-6">
      <label for="sexo" class="control-label">Sexo</label>
      <select class="custom-select" name="sexo" id="sexo" ngModel #sexo="ngModel" required>
        <option value="Feminino">Feminino</option>
        <option value="Masculino">Masculino</option>
      </select>
    </div>
  </div>

  <button class="btn btn-danger mr-3" (click)="cleanForm(f)">Cancelar</button>
  <button type="submit" (click)="addUser(f.value)" (click)="showHideForm()" (click)="cleanForm(f)" [disabled]="!f.valid" class="btn btn-primary">Salvar</button>

</form>